<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{compra.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/compra/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{compra.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form th:action="@{/compra/insere}" th:object="${compra}"
				method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>

				<div class="form-row">
					<div class="form-group col-md-12">
						
						<table class="table table-striped table-hover table-sm">
							<thead>
								<tr>
									<th class="bg-warning">#</th>
									<th class="bg-warning" th:text="#{pacote.cidade.label}"></th>
									<th class="bg-warning" th:text="#{pacote.estado.label}"></th>
									<th class="bg-warning" th:text="#{pacote.pais.label}"></th>
									<th class="bg-warning" th:text="#{pacote.partida.label}"></th>
									<th class="bg-warning" th:text="#{pacote.duracao.label}"></th>
									<th class="bg-warning" th:text="#{pacote.preco.label}"></th>
									<th class="bg-warning" th:text="#{pacote.descricao.label}"></th>
									<th class="bg-warning" th:text="#{agencia.nome.label}"></th>
									<th class="bg-warning" th:text="#{pacote.imagens.label}"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${compra.pacote.id}"></td>
									<td th:text="${compra.pacote.cidade}"></td>
									<td th:text="${compra.pacote.estado}"></td>
									<td th:text="${compra.pacote.pais}"></td>
									<td th:text="${compra.pacote.partida}"></td>
									<td th:text="${compra.pacote.duracao}"></td>
									<td th:text="${compra.pacote.preco}"></td>
									<td th:text="${compra.pacote.descricao}"></td>
									<td th:text="${compra.pacote.agencia.nome}"></td>
									<td>
										<img th:each="imagem : ${compra.pacote.imagens}" th:src="${imagem.link}" style="width:10px; height:10px;">
									</td>
								</tr>
								<tr>
									<td colspan="10">
										<label for="valor" th:text="#{compra.valor.label}"></label>
										<input type="number" name="valor" value="${compra.valor}" class="form-control" placeholder="${compra.pacote.preco}">
										<input type="submit" class="btn btn-primary btn-md" value="${compra.cadastrar.label}">
									</td>
								</tr>
							</tbody>
						</table>

						<div class="invalid-feedback">
							<span th:errors="*{valor}"></span>
						</div>
					</div>
				</div>
				<input type="hidden" id="cliente" th:field="*{cliente}" />
				<input type="hidden" id="pacote" th:field="*{pacote}" />
				<input type="hidden" id="ativo" th:field="*{ativo}" />
				<input type="hidden" id="id" th:field="*{id}" />

				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
