<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{compra.listar.label}"></span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th class="bg-warning">#</th>
							<th class="bg-warning" th:text="#{pacote.cidade.label}"></th>
							<th class="bg-warning" th:text="#{pacote.estado.label}"></th>
							<th class="bg-warning" th:text="#{pacote.pais.label}"></th>
							<th class="bg-warning" th:text="#{pacote.partida.label}"></th>
							<th class="bg-warning" th:text="#{pacote.duracao.label}"></th>
							<th class="bg-warning" th:text="#{pacote.valor.label}"></th>
							<th class="bg-warning" th:text="#{compra.valor.label}"></th>
							<th class="bg-warning" th:text="#{pacote.descricao.label}"></th>
							<th class="bg-warning" th:text="#{pacote.cnpj.label}"></th>
							<th class="bg-warning" th:text="#{pacote.imagens.label}"></th>
							<th class="bg-warning" th:text="#{compra.ativo.label}"></th>
							<th class="bg-warning" th:text="#{acao.label}"></th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="compra : ${compras}">
							<td th:text="${compra.id}"></td>
							<td th:text="${compra.pacote.cidade}"></td>
							<td th:text="${compra.pacote.estado}"></td>
							<td th:text="${compra.pacote.pais}"></td>
							<td th:text="${compra.pacote.partida}"></td>
							<td th:text="${compra.pacote.duracao}"></td>
							<td th:text="${compra.pacote.valor}"></td>
							<td th:text="${compra.valor}"></td>
							<td th:text="${compra.pacote.descricao}"></td>
							<td th:text="${compra.pacote.agencia.cnpj}"></td>
							<td th:each="imagem : ${compra.imagens}">
								<img src="${imagem.link}" alt="imagem" width="50" height="50" />
							</td>
							<td th:text="${compra.ativo}"></td>
							<td>
								<button
									th:id="${'btn_compra/excluir/' + compra.id}"
									type="button" class="btn btn-danger btn-sm"
									data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
