<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body onload="changeAtivo(12)">
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{compra.listar.label}"></span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm" id="tabela">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{pacote.cidade.label}"></th>
							<th th:text="#{pacote.estado.label}"></th>
							<th th:text="#{pacote.pais.label}"></th>
							<th th:text="#{pacote.partida.label}"></th>
							<th th:text="#{pacote.duracao.label}"></th>
							<th th:text="#{pacote.preco.label}"></th>
							<th th:text="#{compra.valor.label}"></th>
							<th th:text="#{pacote.descricao.label}"></th>
							<th th:text="#{pacote.cnpj.label}"></th>
							<th th:text="#{pacote.imagens.label}"></th>
							<th th:text="#{compra.ativo.label}"></th>
							<th th:text="#{acao.label}"></th>
							
						</tr>
					</thead>
					<tbody>
						<tr><form>
							<td><input type="number" class="filtro" id="id" onkeyup="filtro(0, 'id')"></td>
							<td><input type="text" class="filtro" id="cidade" onkeyup="filtro(1, 'cidade')"></td>
							<td><input type="text" class="filtro" id="estado" onkeyup="filtro(2, 'estado')"></td>
							<td><input type="text" class="filtro" id="pais" onkeyup="filtro(3, 'pais')"></td>
							<td><input type="date" class="filtro" id="dataInicio" onchange="filtroData(4)">
								<input type="date" class="filtro" id="dataFim" onchange="filtroData(4)"></td>
							<td><input type="number" class="filtro" id="duracao" onkeyup="filtro(5, 'duracao')"></td>
							<td><input type="number" class="filtro" id="preco" onkeyup="filtro(6, 'preco')"></td>
							<td><input type="number" class="filtro" id="valor" onkeyup="filtro(7, 'valor')"></td>
							<td><select class="filtroSelect" id="agencia" onchange="filtro(8, 'agencia')">
									<option value="">Todas</option>
									<option th:each="agencia : ${agencias}" value="${agencia.nome}" th:text="${agencia.nome}"></option>
								</select></td>
							<td><input type="button" value="Data Vigente" onclick="filtroVigente(4)"></td>
							<td><input type="reset" value="Limpar Filtros" onclick="limpar()"></td>
						</form></tr>
						<tr th:each="compra : ${compras}" th:classappend="${compra.ativo == 'false'} ? cancelado">
							<td th:text="${compra.id}"></td>
							<td th:text="${compra.pacote.cidade}"></td>
							<td th:text="${compra.pacote.estado}"></td>
							<td th:text="${compra.pacote.pais}"></td>
							<td th:text="${compra.pacote.partida}"></td>
							<td th:text="${compra.pacote.duracao}"></td>
							<td th:text="${compra.pacote.preco}"></td>
							<td th:text="${compra.valor}"></td>
							<td th:text="${compra.pacote.descricao}"></td>
							<td th:text="${compra.pacote.agencia.nome}"></td>
							<td>
								<img th:each="imagem : ${imagens}" th:src="${imagem.link}" style="width:10px; height:10px;">
							</td>
							<td th:text="${compra.ativo}"></td>
							<td>
								<button
									th:id="${'btn_compra/cancelar/' + compra.id}"
									type="button" class="btn btn-danger btn-sm"
									data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" th:title="#{link.cancelar.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>